@page
@model ProjektuppgiftASP.NET.Pages.EventsModel

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>


<h1>Events</h1>



@{int i = 0;}
@foreach (var item in Model.Event)
{
    <div class="accordion" id="accordionExample_@i">
        <div class="card">
            <div class="card-header" id="headingOne_@i">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne_@i" aria-expanded="true" aria-controls="collapseOne">
                        @Html.DisplayFor(modelItem => item.Title)
                    </button>
                    <a asp-page="./JoinEvent" asp-route-id="@item.Id">
                        <input type="button" class="btn btn-primary" value="Join">
                    </a>
                </h2>
            </div>

            <div id="collapseOne_@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample_@i">
                <div class="card-body">
                    @Html.DisplayNameFor(model => model.Event[0].Description) : @Html.DisplayFor(modelItem => item.Description)
                    <br />

                    @Html.DisplayNameFor(model => model.Event[0].Place) :  @Html.DisplayFor(modelItem => item.Place)
                    <br />
                    @Html.DisplayNameFor(model => model.Event[0].Adress) : @Html.DisplayFor(modelItem => item.Adress)
                    <br />

                    @Html.DisplayNameFor(model => model.Event[0].Date) : @Html.DisplayFor(modelItem => item.Date)
                    <br />

                    @Html.DisplayNameFor(model => model.Event[0].SpotsAvailable) :  @Html.DisplayFor(modelItem => item.SpotsAvailable)
                    <br />
                </div>
            </div>
        </div>
    </div>

    i++;
}
